* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    background-color: #1E201E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    position: sticky;
    width: 100%;
    height: 5rem;
    left: 0rem;
    top: 0rem;
    background-color:#3C3D37;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.75rem 3.125rem;

}

nav a {
    color: #f2f2f2;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem 5.5rem;
}


nav a:hover {
    background-color: #333B2D;
    color: #FFFFFF;
  }

nav a.active {
    background-color: #333B2D;
    color: white;
    height: 7.5%;

  }

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/0025_24.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.content-wrapper {
    background-color: #1E201E;
    max-width: 100%; 
    width: 40%;
    min-height: calc(100vh - 6.75rem - 7.5rem);
    margin: auto; 
    padding: 1.25rem;
    flex-grow: 1;
}

.content-wrapper h1 {
    width: 100%; 
    text-align: center;
    font-weight: normal;
    margin: .5rem; 
}

.content-wrapper h2 {
    width: 100%; 
    text-align: left;
    font-weight: normal; 
    margin: 0; 
}

.content-wrapper p {

    max-width: 50%;
    font-family: Georgia, serif;
    text-align: left; 
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 3rem;
    float: left;
}

.button-container {
    width: 100%;
    height: 100%;
    display: block;
    
}

.button-container button {
    width: 50%;
    height: 3.375rem;
    background-color: #333B2D; 
    border-radius: 3.125rem; 
    border: none;
    color: #FFFFFF;
    font-family: Georgia, serif; 
    font-size: 1rem;
    margin-bottom: 1.25rem; 
    cursor: pointer;
    text-align: center;
    line-height: 3.375rem;

}

.content-wrapper img {
    float: right;
    width: 50%;
    height: auto; 
    object-fit: cover;
    border-radius: 2rem;
    padding: 1rem;
}

footer {
    width: 100%;
    background-color: #3C3D37;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer-content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    font-size: 0.75rem;
    color: #FFFFFF;
}

.footer-icons a {
    display: inline-block;
    margin: 0 0.5rem; 
}

.footer-icons img {
    width: 1.6875rem; 
    height: 1.6875rem;
    cursor: pointer;
}